In [14]:
import pandas as pd

data = {'Name':['Alice','Bob','Charlie','David'],
        'Age': [25,30,35,40]}
df = pd.DataFrame(data)
print(df)
print(type(df))

#label base
print(df.loc[1, 'Name'])
#index base
print(df.iloc[1, 0])
print(df.loc[2])
print(df.loc[[0,3]])

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40
<class 'pandas.core.frame.DataFrame'>
Bob
Bob
Name    Charlie
Age          35
Name: 2, dtype: object
    Name  Age
0  Alice   25
3  David   40

In [26]:
# import pandas as pd
data = {
    "calories": [420,380,390],
    "duration": [50,45,40]
}
df = pd.DataFrame(data,index =["day1","day2","day3",])
print(df)
print(df.loc['day3','calories'])
print(df.iloc[2,0])
print(df.loc['day2'])
print(df.iloc[1])

      calories  duration
day1       420        50
day2       380        45
day3       390        40
390
390
calories    380
duration     45
Name: day2, dtype: int64
calories    380
duration     45
Name: day2, dtype: int64

In [30]:
data = {
    "calories": [420,380,390],
    "duration": [50,45,40]
}
df = pd.DataFrame(data,index =["day1","day2","day3",])
print(df['calories'])

print("/////////")
print(df.shape)
print(df.size)
print(df.dtypes)

day1    420
day2    380
day3    390
Name: calories, dtype: int64
/////////
(3, 2)
6
calories    int64
duration    int64
dtype: object

In [34]:
df = pd.DataFrame(
    {
        'A':[1,2],
        'B':[3,4]
    }
)

print(df.shape)
print(df.size)
print(list(df.columns))

print("///////////////")
print(df.values,type(df.values))
print(len(df))

(2, 2)
4
['A', 'B']
///////////////
[[1 3]
 [2 4]] <class 'numpy.ndarray'>
2

In [40]:
data2 = {
    'Age' :[25,30,35,40],
    'salary' : [30000,40000,50000,60000]
}
df= pd.DataFrame(data2)
print(len(df))
print(df.mean())

print('//////')
print(df['Age'].mean)

print('//////')
print(df.sum())

4
Age          32.5
salary    45000.0
dtype: float64
//////
<bound method Series.mean of 0    25
1    30
2    35
3    40
Name: Age, dtype: int64>
//////
Age          130
salary    180000
dtype: int64

you are data anylasis for retail comapany.company has provided you with following tables containing sales data
task:-
    1.use pandas to load the above table into a dataframe
    2.add the new coloumn total revenue that calculate the total revunue for each order.
    3.Identify the best selling product/products

In [56]:
data = {
    'order_id': [101,102,103,104,105],
    'product':['laptop','smart_phone','desk_chair','monitor','bookshelf'],
    'category':['electronic','electronic','furniture', 'electronic','furniture'],
    'quantity':[2,5,10,4,2],
    'price_per_unit':[1000,800,150,200,300]
}
df= pd.DataFrame(data)
print(df)
print('/////////////////////////////////////////////////////////////////////////////////////')
df["total"] = df['quantity']*df['price_per_unit']
print(df)
print('/////////////////////////////////////////////////////////////////////////////////////')
print(df[df['total'] == max(df['total'])])

   order_id      product    category  quantity  price_per_unit
0       101       laptop  electronic         2            1000
1       102  smart_phone  electronic         5             800
2       103   desk_chair   furniture        10             150
3       104      monitor  electronic         4             200
4       105    bookshelf   furniture         2             300
/////////////////////////////////////////////////////////////////////////////////////
   order_id      product    category  quantity  price_per_unit  total
0       101       laptop  electronic         2            1000   2000
1       102  smart_phone  electronic         5             800   4000
2       103   desk_chair   furniture        10             150   1500
3       104      monitor  electronic         4             200    800
4       105    bookshelf   furniture         2             300    600
/////////////////////////////////////////////////////////////////////////////////////
   order_id      product    category  quantity  price_per_unit  total
1       102  smart_phone  electronic         5             800   4000

In [51]:
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'age': [25, 30, 22, 28],
    'score': [85, 90, 78, 92]
}

df = pd.DataFrame(data)
filtered = df[df['age'] > 25]
print(filtered)
print(type(filtered))

    name  age  score
1    Bob   30     90
3  Diana   28     92
<class 'pandas.core.frame.DataFrame'>

In [70]:
df = pd.DataFrame(
    {
        'A':[1,2],
        'B':[3,4]
    }
)
df.loc[len(df)]= [5,6]
print(df)

# drop=df.drop('B',axis=1)
# print(drop)
drop=df.drop('B',axis=1,inplace=True)
print(df)

   A  B
0  1  3
1  2  4
2  5  6
   A
0  1
1  2
2  5