In [5]:
# arbitrary positional arguments
def add_numbers(*args):
    print(args, type(args))
add_numbers(4,5,6,7)

(4, 5, 6, 7) <class 'tuple'>

In [3]:
# arbitrary positional arguments excersice
def add_numbers(*args):
    print(args, type(args))
    for x in args:
        print (x)
add_numbers(4,5,6,7)

(4, 5, 6, 7) <class 'tuple'>
4
5
6
7

In [32]:
def summarize_grades(student_name, *grades):
    print("Student Name :", student_name)
    
    if not grades:
        print("No Grades Available")
    else:
        print("Highest grade :", max(grades))
        print("Lowest grade :", min(grades))
        print("Average grade : ", sum(grades)/len(grades))

summarize_grades("Nethmina",50,65,80)
summarize_grades("Ranindu")

Student Name : Nethmina
Highest grade : 80
Lowest grade : 50
Average grade :  65.0
Student Name : Ranindu
No Grades Available

In [44]:
def arbitrary_keyword_arguments(**kwargs):
    print(kwargs,type(kwargs))
    for key, value in kwargs.items():
        print("key = ", key, "value = ", value )
        
arbitrary_keyword_arguments(name="John", age=22, address="Galle")

{'name': 'John', 'age': 22, 'address': 'Galle'} <class 'dict'>
key =  name value =  John
key =  age value =  22
key =  address value =  Galle

In [ ]:
def employee_info(name, **details):
    print(name)
    
    for key,value in details.items():
        print(key, ":", value)
    
    # employee_details = {"name" : name,**details}
    employee_details = {"name" : name} | {**details}
    return employee_details

employee_info("Nethmina", age=22, address="Galle")

Nethmina
age : 22
address : Galle

{'name': 'Nethmina', 'age': 22, 'address': 'Galle'}

In [73]:
# print(abs(-20))
# print(abs(20))

my_list = [10, 20, 30]

def cal_square(a):
    return(a*a)

result = map(cal_square,my_list)
print(result,type(result))
print(list(result))

<map object at 0x0000019B515A44C0> <class 'map'>
[100, 400, 900]

In [ ]:
my_list1 = [10, 8, 5, 6]
my_list2 = [4, 3, 6, 1]

def cal_increment(a,b):
    return(a+b)

result = map(cal_increment,my_list1,my_list2)
print(list(result))

[14, 11, 11, 7]

In [8]:
my_list1 = [20, 30, 25, 40, 15]

def covert_to_fehrenheit(celsius):
    return(celsius * 9/5 +32)

result = map(covert_to_fehrenheit, my_list1)
print(list(result))

[68.0, 86.0, 77.0, 104.0, 59.0]

In [12]:
my_list1 = [5, 8, 10, 9, 6, 3]

def check_even (x):
    return x % 2 == 0

result = filter(check_even, my_list1)
print(result,type(result))
print(list(result))

<filter object at 0x000001B86AB68C70> <class 'filter'>
[8, 10, 6]

In [ ]:
add = lambda  x,y : x+y
print(add(3,4))

result = (lambda  x,y : x+y) (5,4) 
print(result)

7
9

In [21]:
result = (lambda x : x**2) (5)
print(result)

25

In [26]:
people = [("Alice",23),("John",17),("Andrew",25),("Kale",15)]

print(list(filter(lambda age : age[1] >= 18, people)))

[('Alice', 23), ('Andrew', 25)]

In [ ]:
def my_fun(n):
    return lambda a : a * n
my_doubler = my_fun(2)
# my_doubler = lambda a : a *2
print(my_doubler(3))

6

In [32]:
find_max = lambda a, b : a if a>b else b
print(find_max(121,24))

121